

<div class="container">
  <div class="row">
    <div class="col-sm">
    <%= link_to "Profile", current_user %>
    </div>
    <div class="col-sm">
     <div id="myDiv">
       <%= render ('layouts/counter') %>
      </div>
    </div>
    <div class="col-sm">
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    </div>
  </div>
</div>

<%= react_component "Landing" %> 

