<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      
      #map {
        height: 100%;
        width: 100% ;
        border-radius: 5px;
      }
  
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
  
  <div class="container">
  <div class="row">
    <div class="col-sm">
      <%= react_component "Landing" %> 
    </div>
    <div class="col-sm" style="min-width:250px;min-height:250px;">
     
        <div id="map"></div>
      
    </div>
  </div>
</div>

<script>

  var map, infoWindow;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 14
        });
        infoWindow = new google.maps.InfoWindow;

       
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Current location.');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          
          handleLocationError(false, infoWindow, map.getCenter());
        }

        # // $.getJSON("/riders.json", function ( data )  {

        # //         $.each(data, function(key, data) {

        # //             var latLng = new google.maps.LatLng( data.latitude , data.longitude );

              
        # //             var infowindow = new google.maps.InfoWindow ({
        # //             })


        # //             var marker = new google.maps.Marker({
        # //                 position: latLng,
        # //                 map: map,
        # //                 title: (data.first_name + ' ' +data.last_name)
                        
        # //             });


        # //           google.maps.event.addListener (marker, 'click', function() {
        # //           infowindow.setContent( data.first_name +' '+ data.last_name +': '+ data.city +', '+ data.state );
        # //           infowindow.open(map, marker);
        # //           setTimeout(function () { infowindow.close(); }, 5000);

        # //         });
                

        # //       });

      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }

    
    </script>
    
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChx_EFBxgGh_So_8fXbs6xYbW3HVpWUR0&callback=initMap">
    </script> 
    
  </body>
</html>