<h1>Inbox</h1>
<ul>
 

  <% @conversations.each do |conversation| %>

    <% if conversation.sender_id == current_user.id ? conversation.receiver_id : conversation.sender_id %>
       <% recipient = User.find(conversation.receiver_id) %>
    <% else %>
       <% recipient = User.find(conversation.sender_id) %>
    <% end %>

     <div class="converstaions">
       <%= link_to recipient.first_name,   conversation_messages_path(conversation)%>
     </div>


  <% end %>
</ul>


