
<h3>Profile</h3>
<br />
<h5>First name</h5>
<%= @user.first_name %>
<br />
<br />
<h5>Last name</h5>
<%= @user.last_name %>
<br />
<br />
<h5>Email</h5>
<%= @user.email %>
<br />
<br />
<h5>Volunteer ID</h5>
<%= image_tag( @user.image, size: "50x50") -%>


