@import "bootstrap";

.home-landing {
   //  margin-top: 50px;

    .jumbotron {
        justify-content: center;
        text-align: center;
    }
}

.welcome_landing
{
    justify-content: center !important;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-left: 10%;
}

.signingin, .signingup {
    text-align: center;
}

.landing {
   margin-top: 20px;

   .jumbotron {
       justify-content: center;
       text-align: center;
   }

   #logo {
       opacity: 0.9;
   }
}

.login {
   margin-top: 50px;
}