@import "bootstrap";

/*******************************
             Colors
*******************************/
// #202A25
// #C9C0BB
// #034078
// #1282A2
// #FEFCFB

/*******************************
             TYPE
*******************************/

@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Cabin');


p {
    font-family: 'Quicksand', serif;
    font-size: 18px;
}

h2, h3, h4, h5{
    font-family: 'Cabin', serif;
    font-size: 18px;
}

h1, h6 {
    font-family: 'Pacifico', serif;
}

.signup_form, .signing_in, .edit_user {
    font-family: 'Quicksand', serif;
}
/*******************************
         LANDING PAGE
*******************************/
.home-landing {
   //  margin-top: 50px;

    .jumbotron {
        justify-content: center;
        text-align: center;
    }
}

.welcome_landing
{
    justify-content: center !important;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-left: 20%;
    text-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    
}

.landing {
   margin-top: 20px;

   .jumbotron {
       justify-content: center;
       text-align: center;
   }

   #logo {
       opacity: 0.9;
       border-radius: 50%;
       box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

   }
}



.request_counter {
    .open_count{
        color: red;
    }

    .closed_count {
        color: green;
    }
}

/********************************
            Log in/Sign up
********************************/


.signingin, .signingup, .edit_user, .can_you_help{
    text-align: center;
    margin-top: 100px;
}

 .inbox {
     margin-top: 100px;
 }

 .signingup, .signingin {
    color: blue;
    background:#C9C0BB;
    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    .signup_form {
    // background: rgb(235, 128, 128);
    }
    
 }