<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      
      #map {
        height: 600px;
        width: 600px ;
        border-radius: 5px;
      }
  
      html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
  
  <div class="container">
  <div class="row">
    <div class="col-sm">
      
    </div>
    <div class="col-sm" >
     
        <div id="map"></div>
      
    </div>
  </div>
</div>

<script>

  var map, infoWindow;
      function initMap() {
        
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 14
        });
        infoWindow = new google.maps.InfoWindow;

        

       
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });


          

          $.getJSON("/requests.json", function ( data )  {

            $.each(data, function(key, data) {

                var latLng = new google.maps.LatLng( data.latitude , data.longitude );

         
                var infowindow = new google.maps.InfoWindow ({
               })

               

                var marker = new google.maps.Marker({
                    position: latLng,
                    map: map,
                    animation: google.maps.Animation.DROP,
                    title: (data.title + ' ' +data.request_type)
                 
                });


                if (data.request_type == 'Request') {
                  marker.setIcon('https://png.icons8.com/ultraviolet/1x/good-quality.png');
                 }
                 else{
                  marker.setIcon('https://png.icons8.com/color/1x/good-quality.png');
                 }


              google.maps.event.addListener (marker, 'click', function() {
              infowindow.setContent( data.title + ': ' + data.description );
              infowindow.open(map, marker);
              setTimeout(function () { infowindow.close(); }, 5000);

            });
         
           

          });
          });

 
        } else {
          
          handleLocationError(false, infoWindow, map.getCenter());
        };

        


 }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }

    
    </script>
    
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChx_EFBxgGh_So_8fXbs6xYbW3HVpWUR0&callback=initMap">
    </script> 
    
  </body>
</html>